<component name="libraryTable">
  <library name="mybatis-3.5.3">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/mybatis-3.5.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/mybatis-spring-2.0.3.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>